<html>



    <head >
<style type="text/css">

body
{
background-image:url(http://www.scottcampbellbooks.com/assets/images/background.jpg);
}
</style>
	<title>
	     MY Blog YOu tee
	</title>



<center><span style="color:red; background-color:#FFC0CB; border:2px dashed; padding:2px;">

<strong><br><font color ="#806D7E">Selom Nyaku Project</font></br>Welcome To My Blog</strong></span></center> 


	<link rel="stylesheet" href="/static/bootsstrap/css/bootstrap.css"/>
    </head>

    <body>
	<p><a href="/blog/posts">
 		<center><button type="button"> Main page </button></center>
	</a></p>
{%if user.is_authenticated%}
<p><a href="/reg/logout">
 		<button type="button"> Logout </button>
	</a></p>
{%else %}
<p><a href="/reg/login">
 		<button type="button">login </button>
	</a></p>
{% endif %}
	
	<div id="content">
	    {%block content%}
	<p>

<center><img src="http://a7.sphotos.ak.fbcdn.net/hphotos-ak-ash3/522496_10150645955847038_2020872913_n.jpg" width="85%" height="80%" alt="My blog" />
</p><center>

	    {%endblock%}
	</div>


    </body>


</html>
