<html>
    <head>
<style type="text/css">
body
{
background-color:#FFEFD5;
}
</style>
	<title>
	     MY Blog YOu tee
	</title>


<center><span style="color:red; background-color:#FFC0CB; border:2px dashed; padding:2px;">

<strong><br><font color ="#806D7E">Selom Nyaku Project</font></br>Welcome To My Blog</strong></span></center> 


	<link rel="stylesheet" href="/static/bootsstrap/css/bootstrap.css"/>
    </head>

    <body>
	<p><a href="/blog/posts">
 		<button type="button"> Main page </button>
	</a></p>
	
	<div id="content">
	    {%block content%}
	   
	    {%endblock%}
	</div>


    </body>


</html>
