{%extends "blog/base.html"%}


	{%block content%}


<br><font color="#708090">
	  Title:  {{post.title}}
</p>
	    {{post.body|linebreaks}}
</p>
</font>
</br>
<br>
COMMENTS :

<font color="#1E90FF">
<p>
</br>
		{%for c in comments%}
<FIELDSET>

			<LEGEND>{{c.author}}</LEGEND>
<br>
			{{c.body|linebreaks}}
</br>

<br>
			Created: {{c.created}}
</br>
<br>
			Updated: {{c.updated}}
</br>
</p>



<div>
	<a href="/blog/comments/{{c.id}}/edit">
		<button type="button">Edit Comment</button>
	</a>
</div>
</FIELDSET>
		{% endfor %}
	</font>	



<h3>New Comment:</h3>
<div>
    <form method='post' action="">
<br>
	{{ form.as_p }}
	<input type= 'submit' name='Submit' >
   
 </form>
</div>



{%endblock%}
